-i https://pypi.org/simple
ailia>=1.5.0
ailia_tokenizer>=1.4.1
Flask==2.3.3
Flask-CORS==4.0.0
opencv-python==4.8.1.78
numpy==1.24.3
psutil==5.9.5
Werkzeug==2.3.7
Pillow==10.0.0
python-dotenv==1.0.0
moviepy
scikit-image
torch
torchvision
matplotlib
